<!DOCTYPE html>
<html lang="en">
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="home-hero">

      <div class="hero-content">
        <h1>Send your links faster</h1>
        <p class="text-lg">
          URLshortener is a <code class="hi-gradient">gateway drug</code> for people who want to
          <strong class="text-contrast">share awesome websites everywhere</strong>, even twitter where they shouldn't?       
        </p>
    
      </div>
    
      <div class="vid hero-vid">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lSX5dPdArZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> 
    </div>